<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="timbo" connectionString="Data Source=192.168.10.49;Initial Catalog=EQUIFAX;Persist Security Info=True;User ID=sa;Password=sa2019*" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IPersonas">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IEmpresas">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://efxpywsdev.informconf.com.py/Services/Personas.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonas"
    contract="ServiceReferencePeople.IPersonas" name="BasicHttpBinding_IPersonas" />
   <endpoint address="https://webservprod.informconf.com.py/Services/Empresas.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpresas"
    contract="ServiceReferenceBusiness.IEmpresas" name="BasicHttpBinding_IEmpresas" />
  </client>
 </system.serviceModel>
</configuration>